html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -ms-touch-action: none;
}


/* body { font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', sans-serif; } */

input, input:focus, input:active, button, button:focus, button:active, a, a:hover, a:active {
    outline: none
}

input, button, textarea, select {
    box-shadow: none;
    border: none
}

a, img, button, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/*布局*/

html {
    background: #eee;
    height: 100%;
    margin: auto;
}

body {
    /*max-width: 750px;*/
    margin: 0 auto;
    color: #333;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    max-width: 100%;
}

label>* {
    pointer-events: none;
}


/*字体显示*/

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

address, cite, code, em, th, i {
    font-weight: normal;
    font-style: normal;
}


/*color*/

.light-purple {
    color: #854a96
}

.yellow {
    color: #ffab18;
}


/*input 默认提示语字体样式*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #d1d1d1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #d1d1d1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #d1d1d1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #d1d1d1;
}

.bg-gardient {
    background: linear-gradient(to left, #854a96, #a077ac);
}

.bg-gray {
    background-color: #d1d1d1;
}

.load-more {
    text-align: center;
    padding: 0.5rem 0;
}


/*Dome样式--弹窗，缺省，加载中*/


/*加载失败*/

.load-fail {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* padding-top: 6.9rem;
	padding-bottom: 6.9rem; */
    overflow: hidden;
    text-align: center;
    background-color: #eee;
    z-index: 2;
}

.load-fail img {
    margin-top: 45%;
    width: 9rem;
    height: 4.675rem;
}

.load-fail p {
    font-size: .8rem;
    line-height: .85rem;
    margin-top: .8rem;
    text-align: center;
    color: #9e9e9e;
}

.load-fail a.reload {
    display: block;
    width: 5.45rem;
    height: 1.2rem;
    margin: .75rem auto 0;
    text-align: center;
    line-height: 1.2rem;
    border: solid 1px #854a96;
    border-radius: .25rem;
    font-size: .75rem;
    color: #854a96;
}


/*暂无历史记录*/

.no-record {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
    text-align: center;
}

.no-record img {
    width: 6.25rem;
    height: 5.75rem;
}

.no-record img~p {
    display: block;
    font-size: .8rem;
    line-height: .85rem;
    padding: .65rem 0 0;
    text-align: center;
    color: #9e9e9e;
    background-color: transparent;
}

.loadingMsg {
    padding: .56rem 0;
    font-size: .8rem;
    line-height: .85rem;
    color: #9e9e9e;
    text-align: center;
}

.loadingMsg i {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-right: .25rem;
    margin-bottom: -.1rem;
    background-size: contain;
}


/*公共弹窗*/

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
}

.mask-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 501;
}

.mask-mn1 {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 502;
}


/*红包弹窗*/

.loading-mask .loading-ctn {
    padding: .45rem;
    border-radius: .3rem;
    font-size: .8rem;
    line-height: .85rem;
    background: rgba(0, 0, 0, .1);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.loading-mask .loading-ctn i {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-right: .25rem;
    margin-bottom: -.1rem;
    /*background: url(/weixin/v02/public/images/loading.gif) no-repeat center center;*/
    background-size: contain;
}

.redPacket-mask .mask-mn1 {
    margin-left: -7rem;
    margin-top: -8.6rem;
}

.redPacket-ctn {
    width: 14rem;
    height: 8.45rem;
    padding-top: 8.75rem;
    /*background: url(/weixin/v02/public/images/bg@2x.png) no-repeat center center;*/
    background-size: contain;
    color: #fff;
    text-align: center;
}

.redPacket-ctn h4 {
    font-size: 1.25rem;
    line-height: 1.3rem;
    margin-bottom: .85rem;
}

.redPacket-ctn p {
    font-size: .75rem;
    line-height: .8rem;
}

.redPacket-ctn a.know-btn {
    display: block;
    width: 6.25rem;
    height: 1.9rem;
    margin: 1.75rem auto 0;
    text-align: center;
    font-size: .9rem;
    color: #fff;
    line-height: 1.9rem;
    border: solid 1px #fff;
    border-radius: .95rem;
}

.redPacket-mask a.close {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.1rem auto 0;
    /*background: url(/weixin/v02/public/images/close@2x.png) no-repeat center center;*/
    background-size: contain;
}


/*提示弹窗*/

.mask-tige .mask-mn1 {
    margin-left: -6.5rem;
}

.mask-tige .mask-ctn {
    width: 13rem;
    background-color: #fff;
    border-radius: .25rem;
    overflow: hidden;
}

.mask-tige .mask-ctn h3 {
    position: relative;
    background-color: #854a96;
    font-size: .85rem;
    line-height: 2.2rem;
    padding: 0 .5rem;
    color: #fff;
}

.mask-tige .mask-ctn h3 span.close {
    position: absolute;
    width: .575rem;
    height: .575rem;
    right: .5rem;
    top: .7125rem;
    /*background: url(/weixin/v02/public/images/icon-17.png) no-repeat center center;*/
    background-size: contain;
}

.mask-tige .box {
    padding: 1em 0 0;
}

.mask-tige .box .content {
    padding: 0 0.5rem 1rem;
}

.mask-tige .box .content p {
    font-size: .7rem;
    line-height: 1.3rem;
}

.mask-tige .button {
    text-align: center;
    border-top: solid 1px #eee;
}

.mask-tige .button a.btn {
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: .85rem;
    line-height: 2.2rem;
}

.mask-tige .button a.btn01:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
}

.mask-tige .button a.btn02 {
    color: #854a96;
}

.mask-tige .button a.btn03 {
    width: 100%;
    color: #854a96;
}


/*弹出1.5s后关闭的弹窗*/

.mask-crash {
    position: fixed;
    width: auto;
    top: 50%;
    left: 50%;
    padding: .25rem .5rem;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 4px;
    font-size: .7rem;
    line-height: .85rem;
    white-space:nowrap;
    z-index: 501;
}


/* .inp-error {
  border: 1px solid #e9573c;
  -webkit-transition: box-shadow 0.30s ease-in-out;
  -moz-transition: box-shadow 0.30s ease-in-out;
  transition: box-shadow 0.30s ease-in-out;
  box-shadow: 0 0 8px rgba(231, 95, 70, .6);
  background-color: #ffece9;
} */


/*灰色弹层*/


/*协议弹窗*/

.prompt {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 666;
}

.closeBtn {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 2rem;
}

.closeBtn a {
    margin-top: 1.5rem;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #fff;
    font-size: 1rem;
    color: #fff;
    box-sizing: border-box;
}

.prompt p {
    color: #fff;
    padding-bottom: 1.1rem;
    line-height: 1.2;
    font-size: .7rem;
}

.prompt .tl {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin-top: 4rem;
}

.prompt .link {
    height: 1px;
    background-color: #fff;
    margin: 1rem;
}

.textConten {
    position: relative;
    height: 20rem;
    overflow: auto;
}

.textConten * {
    color: #fff;
}

.contract {
    line-height: 1.8;
    padding: 0 1rem;
}
